[Desktop Entry]
Name=Aqueous
Comment=Aqueous Wayland window manager (River + Noctalia)
Exec=aqueous-wm
TryExec=aqueous-wm
Type=Application
DesktopNames=Aqueous
Keywords=wm;wayland;river;
