.system-tray-box {
    margin: 0 4px;
}

.system-tray-button {
    background: transparent;
    border: none;
    border-radius: 4px;
    padding: 2px 4px;
    min-width: 22px;
    min-height: 22px;
    max-height: 28px;
}

.system-tray-button:hover {
    background: rgba(255, 255, 255, 0.1);
}

.system-tray-menu {
    padding: 4px;
}

.system-tray-menu-item {
    background: transparent;
    border: none;
    padding: 4px 8px;
    border-radius: 4px;
}

.system-tray-menu-item:hover {
    background: rgba(255, 255, 255, 0.1);
}
